.idea
image/build
image/output-*

.vagrant
.vagrant.rb
.vagrant.rb.asc
.vagrant.rb.gpg
*.log

tmp

# keys begin mounted into local instance to give ssh access to dev machine
authorized_keys

.env.sh
terraform.tfvars

# generated setup.json
.setup.json
# generated values file for the setup
additionalValues.yaml