.idea
image/prod/build
image/dev/build
image/prod/output-*
image/dev/output-*

.vagrant
.vagrant.rb
.vagrant.rb.asc
.vagrant.secret.rb
.vagrant.rb.gpg
*.log

tmp

# keys begin mounted into local instance to give ssh access to dev machine
authorized_keys

.env.sh
terraform.tfvars

# generated values file for longhorn
.longhorn-values.yaml
# generated values file for ecosystem-core
.additionalValues.yaml
# generated blueprint file
.blueprint.yaml

**/gcp_sa.json
**/.terraform
/terraform/examples/ces_google_gke/ces_cluster/kubeconfig
/terraform/examples/ces_google_gke/secretVars.tfvars

/terraform/plusserver/gardener_kubeconfig.yaml