dogu_registry_url="https://dogu.cloudogu.com/api/v2/dogus"
dogu_registry_username=""
dogu_registry_password=""
image_registry_url="https://registry.cloudogu.com"
image_registry_username=""
image_registry_password=""
image_registry_email="test@mtest.de"
helm_registry_host="k3ces.local:30098"
helm_registry_schema="oci"
helm_registry_plain_http="true"
helm_registry_username=""
helm_registry_password=""
worker_count=1
vm_cpus=4
vm_memory=4096