gcp_project_name  = "ces-coder-workspaces"
gcp_zone          = "europe-west3-c"

create_backup_bucket = true
use_bucket_encryption = true
backup_bucket_name = "cloudogu-backup-bucket-47171-3"
key_ring_name = "ces-key-ring-47171-3"