appId    = ""
password = ""
image_registry_username = ""
image_registry_password = ""
image_registry_email = ""
dogu_registry_username = ""
dogu_registry_password = ""
dogu_registry_endpoint = "https://dogu.cloudogu.com/api/v2/dogus"
cluster_name="test-ces"
ces_admin_password=""