dogu_registry_secret:
  url: "${dogu_registry_endpoint}"
  username: "${dogu_registry_username}"
  password: "${dogu_registry_password}"
docker_registry_secret:
  url: "${docker_registry_url}"
  username: "${docker_registry_username}"
  password: "${docker_registry_password}"
helm_registry_secret:
  url: "${helm_registry_url}"
  username: "${helm_registry_username}"
  password: "${helm_registry_password}"
setup_json:
  ${setup_json}