// EcoSystem Credentials
container_registry_secrets = [
  {
    url      = "registry.cloudougu.com"
    username = "username"
    password = "cGFzc3dvcmQ=" # Base64-encoded
  }
]
dogu_registry_username  = "username"
dogu_registry_password  = "cGFzc3dvcmQ=" # Base64-encoded
helm_registry_username  = "username"
helm_registry_password  = "cGFzc3dvcmQ=" # Base64-encoded
ces_admin_password      = "test123"
