[Unit]
Description=K3s network configuration updater
After=network-online.target k3s.service
ConditionFileNotEmpty=/etc/ces/nodeconfig/k3sConfig.json

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
LimitNOFILE=400000
ExecStart=/usr/sbin/k3s-conf.sh
