apiVersion: k8s.cloudogu.com/v2
kind: Blueprint
metadata:
  labels:
    app: ces
    app.kubernetes.io/name: k8s-blueprint-lib
  name: blueprint-ces-module
  namespace: ${var.ces_namespace}
spec:
  displayName: "Blueprint Sample CES-Module"
  blueprint:
    dogus:
      ${indent(6, yamlencode(dogus))}
    config:
      dogus:
        ${indent(8, yamlencode(doguConfigs))}
      global:
        ${indent(8, yamlencode(globalConfig))}