${yamlencode({
  apiVersion = "k8s.cloudogu.com/v2"
  kind       = "Blueprint"
  metadata   = {
    labels = {
      app                         = "ces"
      "app.kubernetes.io/name"    = "k8s-blueprint-lib"
    }
    name = "blueprint-ces-module"
  }
  spec = {
    displayName = "Blueprint Sample CES-Module"
    blueprint   = {
      dogus  = dogus
      config = {
        dogus  = doguConfigs
        global = globalConfig
      }
    }
  }
})}